@import "node_modules/bootstrap/scss/bootstrap";

.register-form,
.search-form {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.register-form__form,
.search-form__form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.register-form__button,
.search-form__button {
  width: 100%;
}

.register-table {
  position: absolute;
  width: calc(50vw - 270px);
  top: 100px;
  left: 50%;
  transform: translateX(260px);
}

.register-table__clear {
}
